{% extends 'layout.html' %}
{% block content %}
      <!-- Navbar -->
      <nav class="navbar navbar-expand-lg navbar-transparent  navbar-absolute bg-primary fixed-top">
        <div class="container-fluid">
          <div class="navbar-wrapper">
            <div class="navbar-toggle">
              <button type="button" class="navbar-toggler">
                <span class="navbar-toggler-bar bar1"></span>
                <span class="navbar-toggler-bar bar2"></span>
                <span class="navbar-toggler-bar bar3"></span>
              </button>
            </div>
            <a class="navbar-brand" href="#pablo">Prediction Records</a>
          </div>
          
        </div>
      </nav>
      <!-- End Navbar -->
      <div class="panel-header panel-header-sm">
      </div>
      <div class="content">
        <div class="row">
          <div class="col-md-12">
            <div class="card">
              <div class="card-header">
                <h4 class="card-title"> Records</h4>
              </div>
              <div class="card-body">
                <div class="table-responsive">
                  <table class="table">
                    <thead class=" text-primary">
                      <th>Date</th>
                      <th>City</th>
                      <th>Humidity</th>
                      <th>Pressure</th>
                      <th>Temperature</th>
                      <th>Description</th>
                      <th>Customers</th>
                    </thead>
                    <tbody>
                      {% for datum in data %}
                      <tr>
                        <td>{{ arrow.get(datum.timestamp).format('YYYY-MM-DD HH:mm:ss') }}</td>
                        <td>{{ datum.city }}</td>
                        <td>{{ datum.humidity }}</td>
                        <td>{{ datum.pressure }}</td>
                        <td>{{ datum.temperature }}</td>
                        <td>{{ datum.description }}</td>
                        <td>{{ datum.customers }}</td>
                      </tr>
                      {% endfor %}
                    </tbody>
                  </table>
                </div>
              </div>
            </div>
          </div>
          
        </div>
      </div>
{% endblock %}